@import "../../c1-styles/s1-sass/variables";

.btnContainer {
    .element {
        background-color: $secondaryBackground;
        border: 2px solid $primaryColor;
        border-radius: 40px;
        padding: 12px 36px;
        text-decoration: none;
        font-weight: 900;
        letter-spacing: 2px;
        text-transform: capitalize;

        &:hover {
            cursor: pointer;
            background-color: $primaryColor;
            color: $secondaryBackground;
            transition: background-color .5s;
        }
    }
}