@import "../../c1-styles/s1-sass/variables";

.container {
  margin: 0 40px 35px 40px;
  position: relative;

  .label {
    position: relative;
    left: -17px;
    margin-bottom: .4rem;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
  }

  .customInput {
    position: relative;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    border: 1px solid #e3e3e3;
    border-radius: 30px;
    font-size: 15px;
    left: -20px;

    &:focus {
      border: 1px solid $secondaryColor;
      transition: border .3s;
    }
  }
  .error {
    position: absolute;
    color: red;
    font-size: 0.8rem;
    letter-spacing: .4px;
  }
}
