@import "../../../../common/c1-styles/s1-sass/variables";

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px;

  .uploadContainer{
    margin-bottom: 20px;
    label{
      cursor: pointer;
      &:hover{
        color: $primaryColor;
      }
    }

    .fileInput {
      opacity: 0;
      position: absolute;
      z-index: -1;
    }
  }


  .btnContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}