@import "../../c1-styles/s1-sass/variables";

.modal{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.25);
  animation-name: appear;
  animation-duration: 300ms;
  .closeBtn{
    position: relative;
    top: 15px;
    font-size: 1rem;
    padding: 4px 7px 4px 7px;
    border: 2px solid $primaryColor;
    border-radius: 50%;
    background-color: $secondaryBackground;
    &:hover{
      background-color: $primaryColor;
      color: $secondaryBackground;
      transition: all .3s;
    }
  }
  .modalWindow{
    border: 2px solid $primaryColor;
    background-color: $secondaryBackground;
    padding: 10px;
    max-height: 80vh;
    overflow: auto;
    overflow-x: hidden;
  }
}